:root {
  --shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --border: 1px solid hsla(0, 0%, 13%, 0.2);
  --shift: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #f9f9fd;
  }
  
  .box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: tomato;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  
    /*  Задаём значения перехода  */
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 1s;
  }

  /* При ховере меняем значения анимируемых свойств */
     .box:hover {
    background-color: teal;
    transform: rotate(150deg);
  }


  .box1 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: tomato;
    background-color: teal;
    transition-property: background-color;
    transition-duration: 1000ms;
  }

  .box1:hover {
    background-color: orange;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  
    transform: translatex(0);
    transition-property: transform;
    transition-duration: 2000ms;
  }
  
  .circle:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .container:hover .circle {
    transform: translatex(calc(100vw - 86px));
  }
  
  .circle:nth-child(1) {
    background-color: #f44336;
    transition-timing-function: linear;
  }
  
  .circle:nth-child(2) {
    background-color: #3f51b5;
    transition-timing-function: ease;
  }
  
  .circle:nth-child(3) {
    background-color: #00bcd4;
    transition-timing-function: ease-in;
  }
  
  .circle:nth-child(4) {
    background-color: #4caf50;
    transition-timing-function: ease-out;
  }
  
  .circle:nth-child(5) {
    background-color: #ffeb3b;
    transition-timing-function: ease-in-out;
  }
  
  .circle:nth-child(6) {
    background-color: #e91e63;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
  }
  
  /* Кнопки */

  .body {
    padding: 2rem;
  }
  .form {
    width: 28rem;
    margin: 1rem;
    padding: 2rem 4rem;
    text-align: center;
    box-shadow: var(--shadow);
  }
  label {
    display: block;
    margin-bottom: 1.75rem;
    position: relative;
  }
  input {
    width: 100%;
    padding: 1rem 0.75rem;
    border: var(--border);
    border-radius: 0.25rem;
    outline: none;
  }
  span {
    font-size: 0.875rem;
    letter-spacing: 0.01rem;
    color: #757575;
  
    position: absolute;
    top: 50%;
    left: 2.625rem;
    transform: translateY(-50%);
    transition: var(--shift);
  }
  
  label:focus-within > span,
  input:not(:placeholder-shown) + span {
    font-size: 0.75rem;
    letter-spacing: 0.01rem;
    color: #2196f3;
    transform: translate(-1.5rem, -2.3rem);
  }
  button {
    --h: 3.125rem;
    height: var(--h);
    line-height: var(--h);
    min-width: 12.5rem;
    padding: 0 2rem;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    color: #fff;
    background-color: #2196f3;
    box-shadow: var(--shadow);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--shift);
  }

  form {
    width: 28rem;
    margin: 1rem;
    padding: 2rem 1rem;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  }
  label {
    width: 28rem;
    display: block;
    margin-bottom: 1.75rem;
    position: relative;
    color: #757575;
  }
  button {
    --h: 3.125rem;
    height: var(--h);
    line-height: var(--h);
    min-width: 12.5rem;
    margin: 1rem auto;
    display: block;
    padding: 0 2rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.08rem;
    color: #fff;
    box-shadow: var(--shadow);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--shift);
  }
  button[type="submit"] {
    background-color: #2196f3;
  }
  button[type="reset"] {
    background-color: crimson;
  }
  textarea {
    width: 100%;
    height: 7.5rem;
    padding: 1rem .75rem;
    border: 1px solid hsla(0, 0%, 13%, 0.2);
    border-radius: .25rem;
    color: #757575;
    outline: none;
    resize: none;
  }
  textarea::placeholder {
    color: hsl(0, 90%, 54%);
  }